<p-sidebar [(visible)]="visibleSidebar1">
  <h3 style="font-weight:normal">MENU</h3>
  <a class="nav-link active active-class"  [routerLink]="['']" routerLinkActive="router-link-active">
  <i class="fa fa-phone-square-alt"></i>Home</a>
  <br>
  <a class="nav-link"  href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">Emp details</a>
  <br>
  <a class="nav-link" href="#" [routerLink]="['/contact us']" routerLinkActive="router-link-active">About us</a>
  <br>
  <a class="nav-link" href="#" [routerLink]="['/login']" routerLinkActive="router-link-active">Contact Us</a>
  <br>
  </p-sidebar>
